<div class="container about">
    <h1>
        <%= title %>
    </h1>

    <div class="container mt-5">

        <div class="row d-flex justify-content-center">

            <div class="col-md-7">

                <div class="card p-3 py-4">

                    <div class="text-center">
                        <img src="./content/images/headshot.jpg" width="100" class="rounded-circle"
                            alt="Profile picture">
                    </div>

                    <div class="text-center mt-3">

                        <h5 class="mt-2 mb-0">Pedro da Silva Dergado</h5>
                        <span>IT | Network | Defense | Supply Chain</span>

                        <div class="px-4 mt-1">
                            <p class="fonts">Originally from Brazil, I am living and working in Canada for about 10
                                years.
                                <br />
                                With great international exposure I embraced multiculturalism and working with people
                                from diverse nationalities.<br />
                                Currently, I am studying to be a Software Engineering Techinician, but I also have a
                                diploma in business,
                                international trade, and a bachelor in International affairs.
                                <br />
                                Recently, I moved to St. Catharines and I am enjoying the lifestyle of a smaller city.
                                <br />
                                I am open to new opportunities!!
                            </p>

                        </div>

                        <ul class="social-list">
                            <li><a href="https://www.facebook.com/pedro.dergado"><i
                                        class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="https://www.instagram.com/pedro_dergado/"></a><i
                                    class="fa-brands fa-instagram"></i></li>
                            <li><a href="https://www.linkedin.com/in/pedrodergado/"></a><i
                                    class="fa-brands fa-linkedin"></i></li>

                        </ul>

                        <div class="buttons">


                            <a class="btn btn-outline-primary px-4" href="./content/docs/CV.pdf" target="_blank">
                                Curriculum Vitae</a>

                            <a class="btn btn-primary px-4 ms-3" href="/contact">Contact</a>

                        </div>


                    </div>




                </div>

            </div>

        </div>

    </div>

</div>