<div class="container home">
    <h1>
        <%= title %>
    </h1>

    <p> Welcome to my personal portifolio website, know more about me by <a href="/about">clicking here</a></p>

    <br />

    <div class="col-md-6">
        <h2> Mission Statement</h2>

        <p> One of my main priorities is to understand the direction that my life is going and plan ahead to get the
            best outcome of it. As the old saying goes “By failing to prepare, you are preparing to fail.”
            <br />The same goes for my career, I am planning it by thinking about tomorrow. Not only am I looking at
            what rewards I can reap, but also what I can give back to our community so my kids, and their own, can live
            in a better world. I am always looking to expand my knowledge and broaden my horizons, so I look forward to
            hearing from you.
        </p>
    </div>
    <div class="col-md-6">
        <img src="./content/images/homepicture.jpg" alt="" width="500">

    </div>






</div>