<div class="container project">
    <h1>
        <%= title %>
    </h1>

    <!-- Projects Row -->
    <div class="container row">
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="./content/images/coverpagefaap.jpg" alt="">
            </a>
            <h3>
                <a href="./content/docs/projeto finalizado Pedro Dergado.pdf" target="_blank">Canada-Brazil trade
                    relations
                </a>
            </h3>
            <p>Final Thesis of international trade about Canada-Brazil economical relations</p>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="./content/images/coverpagefmu.jpg" alt="">
            </a>
            <h3>
                <a href="./content/docs/tcc pedro.pdf" target="_blank">Brazil military upgrade program</a>
            </h3>
            <p>Final Thesis about Brazil military upgrade</p>
        </div>
    </div>
    <!-- /.row -->



</div>