<div class="container services">
    <h1>
        <%= title %>
    </h1>
    <p>Here you can find all the services that I provide at great rates! </p>
    <div id="services" class="section lb">
        <div class="container">
            <div class="section-title text-center">


            </div><!-- end title -->

            <div class="row">
                <div class="col-md-4">
                    <div class="services-inner-box">
                        <div class="ser-icon">
                            <i class="fa-brands fa-uncharted"></i>
                        </div>
                        <h2>Software Development</h2>
                        <p>Despite being an student in Software Engineering my experience with computer software and
                            hardware predates Windows 3.1.1</p>
                    </div>
                </div><!-- end col -->
                <div class="col-md-4">
                    <div class="services-inner-box">
                        <div class="ser-icon">
                            <i class="fa-solid fa-money-bill-trend-up"></i>
                        </div>
                        <h2>Consulting in International Trade</h2>
                        <p>With a CCS (Certified Custom Specialist) creditation I have over 10 years of experience
                            in
                            international trade serving all continents.</p>
                    </div>
                </div><!-- end col -->
                <div class="col-md-4">
                    <div class="services-inner-box">
                        <div class="ser-icon">
                            <i class="fa-solid fa-globe"></i>
                        </div>
                        <h2>Consulting in International Affairs</h2>
                        <p>Be legal, political, or immigration, my professional and personal experience has a
                            broad
                            spectrum.</p>
                    </div>

                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
</div>